body{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 9pt;
    background-color: #FAFAFA;

}
.footer{
    height: 100px;
    width: 75%;
    background-color: black;
    font-size: 7px;
    margin: 0 auto;
    border-radius: 25px;
    color:white;

}
.ads {
    background-color: darkgray;
    border: solid 4px green;
}
.container{
    display: flex;
    align-content: center;
}
.ads-container{
    margin-left: 10%;
    border:solid 3px black;
}

.ad{
    margin: 0 auto;
    height: 200px;
    width: 750px;
    border: solid 3px black;
}
.categoriesContainer{
    font-size: large;
    background-color: black;
    height: 500px;
    width: 200px;
    margin-left: 15%;
    margin-top: 2%;
    border-radius: 25px;
    position: absolute;
    text-align: center;
}
.categoriesContainer a{
    color: white;
    text-decoration:none;
}
.categoriesContainer a:hover{
    color: black;
    text-decoration:none;
}

.singleCategory{
    width: 200px;
    height: 70px;
    margin: 0 auto;
    margin-top: 8px;
}
.singleCategory:hover{
    background-color: white;
    color: black;
    width: 200px;
    height: 70px;
    margin: 0 auto;
    margin-top: 8px;
}

.bankInfoContainer{
    height: 550px;
    width: 240px;
    margin-left: 20%;
}

.navbar{
    height: 100px;
    width: 75%;
    background-color: black;
    font-size: 20px;
    margin: 0 auto;
    border-radius: 25px;
}
.navLinksContainer{
    height: 50px;
    width: 200px;
    color: white;
    margin: 0 auto;
}
.navLinksContainer a{

    font-size: 30px;
    text-decoration: none;
    color: white;
}
.profileContainer{
    margin: 0 auto;
    height: 500px;
    width: 200px;
}
.registerAdContainer{
    display: flex;
    color: white;
    text-decoration: none;
    height: 100px;
    width: 199px;
    background-color: blue;
    margin-left: 15.2%;
    float: left;
    font-size: 20px;


}
.registerAdContainer a{
    color: white;
    text-decoration: none;

}

.createAdContainer{
    height: 550px;
    width: 150px;
    margin-left: 20%;
}

.homeContainer{
    height: 500px;
    width: 500px;
    margin: 0 auto;
}

.loginContainer{
    margin-top:3%;
    height: 550px;
    width: 500px;
    margin-left: 20%;
}

.registerUserContainer{
    height: 550px;
    width: 500px;
    margin: 0 auto;
}

.logo-img{
    height: 100px;
    width: 200px;
    margin:0 auto;
    float: left;
}

.profile-image{
    margin: 0 auto;
    height: 50px;
    width: 50px;
}

