* {
    box-sizing: border-box;
}

body{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 9pt;
    background-color: #FAFAFA;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    width: 85%;

}

main {
    display: flex;
}

.footer{
    text-align: center;
    height: 100px;
    width: 100%;
    background-color: black;
    font-size: 7px;
    /*margin: 0 auto;*/
    /*border-radius: 25px;*/
    color:white;

}

.footer h1{
    text-align: center;
}
/*.ads {
    background-color: darkgray;
    border: solid 4px green;

}*/

/*h1.ad-title1{
    float: right;
}*/

/*p.ad-short-description{
    font-size: 15px;
}*/

/*p.ad-highest-bid{
    float:right;
    color:orange;
    font-size: 20px;
    font-weight: bold;
}*/

/*p.ad-highest-bid-label{
    margin-left: 20%;
    float: right;
}*/

.container{
    /*display: flex;
    align-content: center;*/
    flex-grow: 3;
}
.ads-container{
    text-decoration: none;
    /*margin-left: 10%;*/
    width: 700px;
    display: flex;
    flex-direction: column;
    flex-gap: 15px;
}


.ads-container a{
    text-decoration: none;
    height: 200px;
    width: 100%;
    display: block;
    box-shadow: 0 20px 30px 0 rgba(0,0,0, 0.1);

}.ads-container p{
    margin-left: 15%;
}

.ad{
    /*background-color: #80827d;
    text-decoration: none;
    color: black;
    margin: 0 auto;
    margin-top:10px;
    height: 200px;
    width: 750px;
    border: solid 1px #80827d;
    border-radius: 25px;*/
    height: 100%;
    display: flex;
    align-items: center;
}

.ad-image-wrapper {
    height: 130px;
    /*width: 130px;*/
    display: flex;
}

.ad-image {
    height: 100%;
}

.categoriesContainer{
    font-size: large;
    background-color: black;
    height: 500px;
    width: 200px;
    /*margin-left: 15%;
    margin-top: 5%;*/
    border-radius: 25px;
    /*position: absolute;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.categoriesContainer a{
    color: white;
    text-decoration:none;
}
.categoriesContainer a:hover{
    color: black;
    text-decoration:none;
}

.singleCategory{
    width: 200px;
    height: 70px;
    margin: 0 auto;
    margin-top: 8px;
}
.singleCategory:hover{
    background-color: white;
    color: black;
    width: 200px;
    height: 70px;
    margin: 0 auto;
    margin-top: 8px;
}

.bankInfoContainer{
    height: 550px;
    width: 240px;
    margin-left: 20%;
}

.navbar{
    height: 100px;
    width: 100%;
    background-color: black;
    font-size: 20px;

    border-radius: 25px;
}
.navLinksContainer{
    height: 50px;
    width: 400px;
    color: white;
    margin: 0 auto;
    float: right;
}
.navLinksContainer a{

    font-size: 30px;
    text-decoration: none;
    color: white;
}
.profileContainer{
    margin: 0 auto;
    height: 500px;
    width: 200px;
}
.registerAdContainer{
    display: flex;
    color: white;
    text-decoration: none;
    height: 75px;
    width: 199px;
    background-color: lightblue;
    /*margin-left: 15.2%;*/
    float: left;
    font-size: 20px;
    border-radius: 25px;

}

.create-ad-btn a{
        height: 75px;
    width: 199px;
    text-align: center;
}
.registerAdContainer a{
    margin-top: 25px;
    color: white;
    text-decoration: none;
    height: 75px;
    width: 199px;
    text-align: center;
}

.createAdContainer{
    height: 550px;
    width: 150px;
    margin-left: 20%;
}

.homeContainer{
    height: 500px;
    width: 500px;
    margin: 0 auto;
}

.loginContainer{
    margin-top:3%;
    height: 550px;
    width: 500px;
    margin-left: 20%;
}

.registerUserContainer{
    height: 550px;
    width: 500px;
    margin: 0 auto;
}

.logo-img{
    height: 100px;
    width: 200px;
    margin:0 auto;
    float: left;
}


.profile-image-wrapper {
    position: relative;
    margin-left: 15%;
    display: block;
    float: right;
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-image{
    position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);

}


