{% extends 'main.html' %}

<h1>Ads template</h1>

{% block content %}


<div class="single-ad-container">
    <h1 class="single-ad-title">{{ ad.title }}</h1>
    <label for="bid">Bjóða í vöru</label>
    <input type="number" id ="bid" name="bid"> Kr.
    <button class="bid-button">Bjóða</button>
    <p class="single-ad-short-description">{{ ad.short_description }}</p>
    <p class="single-ad-long-description">{{ ad.long_description }}</p>
    <p class="single-ad-condition">{{ ad.condition }}</p>
    <p class="single-ad-creation-date">{{ ad.creation_date }}</p>
    <img src="{{ ad.image }}" class="single-ad-image" alt="Image of product"/>
    <p class="single-ad-highest-bid-label">Hæsta boð: </p>
    <p class="single-ad-highest-bid">1000 kr.</p>
    <p class="single-ad-seller-name">{{ seller.name }}</p>
    <div class="profile-image-wrapper">
    <img class="profile-image" src="{{ seller.profile_image }}" alt="Image of seller">
    </div>
</div>


{% endblock %}