{% extends 'main.html' %}

<h1>Ads template</h1>

{% block content %}


<div class="single-ad-container">
    <h1 class="single-ad-title">{{ ad.title }}</h1>
    <form class="form" method="post">
        {% csrf_token %}
{#    <label for="bid">Bjóða í vöru</label>#}
{#    <input type="number" id ="bid" name="bid"> Kr.#}
        {{ form }}
        <input type="submit" class="bid-button" value="Bjóða">
    </form>
    {% comment %}{% if form.errors %}
        {% for field in form %}
            {% for error in field.error %}
                {{ error }}
            {% endfor %}
        {% endfor %}
    {% endif %}{% endcomment %}
    <p class="single-ad-short-description">{{ ad.short_description }}</p>
    <p class="single-ad-long-description">{{ ad.long_description }}</p>
    <p class="single-ad-condition">Ástand: {{ ad.condition.name }}</p>
    <p class="single-ad-creation-date">{{ ad.creation_date }}</p>
    <img src="{{ ad.image }}" class="single-ad-image" alt="Image of product"/>
    <h3><p class="single-ad-highest-bid-label">Hæsta boð: </p></h3>
    {% if ad.max_bid is not None %}
        <p class="ad-highest-bid">{{ ad.max_bid }} kr.</p>
    {% else %}
        <p class="ad-highest-bid">Ekkert boð enn.</p>
    {% endif %}
    <h3><p class="Seller">Seljandi:</p></h3>
    <p class="single-ad-seller-name">{{ seller.name }}</p>
    <div class="profile-image-wrapper">
    <img class="profile-image" src="{{ seller.profile_image }}" alt="Image of seller">
    </div>
    <p class="seller-rating">
        {% if seller.rating > 0.5 %}
            <span class="fa fa-star gold"></span>
        {% else %}
            <span class="fa fa-star"></span>
        {% endif %}
        {% if seller.rating > 1.5 %}
            <span class="fa fa-star gold"></span>
        {% else %}
            <span class="fa fa-star"></span>
        {% endif %}
        {% if seller.rating > 2.5 %}
            <span class="fa fa-star gold"></span>
        {% else %}
            <span class="fa fa-star"></span>
        {% endif %}
        {% if seller.rating > 3.5 %}
            <span class="fa fa-star gold"></span>
        {% else %}
            <span class="fa fa-star"></span>
        {% endif %}
        {% if seller.rating > 4.5 %}
            <span class="fa fa-star gold"></span>
        {% else %}
            <span class="fa fa-star"></span>
        {% endif %}</p>

        <h2>Aðrar auglýsingar í sama flokki</h2>

        {% for ad in related_ads %}
            {% include 'ads/ad_product_card.html' %}
        {% endfor %}

</div>


{% endblock %}