{% extends 'main.html' %}


<h1>Ads template</h1>

{% block content %}


    <div class="input-group">

        {% if filterby %}
            <form action="/ads/" method="get" class="search-bar"  >
            <input type="text" class="search-box" placeholder="Leita í '{{ filterby }}'..." name="search_filter">
            <input type="text" class="search-box" name="filterby" style="display: none;" value="{{ filterby }}">
            <input type="submit" value="Leita" style="display: none;">
        </form>
        {% else %}
            <form action="/ads/" method="get" class="search-bar"  >
            <input type="text" class="search-box" placeholder="Leita..." name="search_filter">
        </form>
        {% endif %}


        <div class="dropdn">
            <button class="dropbt">Raða eftir</button>
            <div class="dropdown_content">
            <a class="sort_by" id="sort_by_date_desc">Nýjast efst</a>
            <a class="sort_by" id="sort_by_date_asc">Elst efst</a>
            <a class="sort_by" id="sort_by_bid_a">Hæsta verð</a>
            <a class="sort_by" id="sort_by_bid_b">Lægstaverð</a>
            <a class="sort_by" id="sort_by_name_asc">A - Ö</a>
            <a class="sort_by" id="sort_by_name_desc">Ö - A</a>
            </div>
        </div>
    </div>
    <div class="ads-container">
        {% for ad in all_ads %}
            <a href="/ads/{{ ad.id }}" class="ad-anchor1">
            <div class="ad">
                <div class="ad-image-wrapper">
                    <img src="{{ ad.image }}" class="ad-image" alt="Image of product" />
                </div>
                <div class="ad-info">
                    <h1 class="ad-title1">{{ ad.title }}</h1>
                    <p class="ad-creation-date" data-timestamp="{{ ad.creation_date.timestamp }}">{{ ad.creation_date }}</p>
                    <p class="ad-short-description">{{ ad.short_description }}</p>
                 </div>

                <div class="ad-bid">
                    <p class="ad-highest-bid-label">Hæsta boð: </p>
                    {% if ad.max_bid is not None %}
                        <p class="ad-highest-bid"><b>{{ ad.max_bid }}</b> kr.</p>
                    {% else %}
                        <p class="ad-highest-bid-no-bid">Ekkert boð enn.</p>
                    {% endif %}
                </div>
            </div>
            </a>
        {% endfor %}
</div>
{% endblock %}