{% load static %}

<nav class="navbar">
    <a href="{% url 'home' %}">
    <img src="{% static 'images/new_logo.png'%}" alt="Image of logo" class="logo-img">
    <img src="{% static 'images/notification.png'%}" alt="Image of envelope" class="envelope-img">
    </a>
    <div class="navLinksContainer">
    <input type="text" placeholder="Leita..">
    {% if user.is_authenticated %}
        <div class="profile-image-wrapper">
        <a href="{% url 'profile' %}">
        <img src="{{ user.userprofile.profile_image }}" alt="Profile" class="profile-image"
        width="60" height="60">
        </div>
        </a>
        <a href="{% url 'logout' %}" class="nav-link nav-profile">--Útskrá--</a>
    {% else %}
        <a href="{% url 'login' %}" class="nav-link nav-login">--Innskrá--</a>
        <a href="{% url 'register' %}" class="nav-link nav-register">--Nýskrá--</a>
    {% endif %}
    </div>
</nav>
