{% extends "main.html" %}
{% block content %}
    <div class="ads-container">
        <h1>Mín boð</h1>

        {% if user_ads %}
        {% for ad in user_ads %}
            <div class="ad-button-container" >
                {% include 'ads/ad_product_card.html' %}
                <div class="buttons-container">
                    <p>Mitt boð: {{ ad.max_user_bid }}</p>
                    {% if not ad.isActive and ad.buyer == bidder and ad.isSold and not ad.isPaid %}
                        <a href="{% url 'checkout' id=ad.id %}" class="accept-button">Greiða</a>
                    {% endif %}

                    {% if ad.isActive and not ad.isSold%}
                        <a href="/ads/{{ ad.id }}/stop_bid" class="reject-button">Hætta við boð</a>
                    {%  endif %}

                    {% if not bid.isActive and not ad.isSold and ad.buyer == bidder %}
                        <p>Boð hefur verið dregið til baka.</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% else %}
            <p>Þú hefur ekki boðið í vöru.</p>
        {% endif %}

    </div>
{% endblock %}