{% extends "main.html" %}
{% block content %}
    <div class="ads-container">
        <h1>Mínar vörur</h1>
        {% if user_ads %}
            {% for ad in user_ads %}
                <div class="ad-button-container">
                {% include 'ads/ad_product_card.html' %}
                <div class="buttons-container">
                {% if ad.isActive and ad.max_bid%}
                    <a href="{% url 'confirm_bid' id=ad.id %}" class="accept-button">Samþykkja boð</a>

                {% endif %}
                {% if not ad.isPaid and ad.isActive%}
                    <a href="/ads/{{ ad.id }}/stop_ad" class="reject-button">Hætta við sölu</a>
                {% endif %}
                {% if not ad.isActive and not ad.isPaid and ad.isSold %}
                    <p>Boð hefur verið samþykkt og bíður nú greiðslu.</p>
                {% endif %}
                {% if not ad.isActive and not ad.isPaid and not ad.isSold%}
                    <p>Vara er ekki lengur til sölu.</p>
                {% endif %}
                {% if not ad.isActive and ad.isPaid %}
                    <p>Greitt hefur verið fyrir vöru.</p>
                {% endif %}
                </div>
                </div>

            {% endfor %}
        {% else %}
            <p>Þú hefur engar vörur til sölu.</p>
        {% endif %}

    </div>
{% endblock %}