{% extends "main.html" %}
{% block content %}
    <div class="ads-container">
        <h1>Mínar vörur</h1>
        {% for ad in user_ads %}
            <div class="ad-button-container">
            <a href="/ads/{{ ad.id }}" class="ad-anchor1">
            <div class="ad">
                <div class="ad-image-wrapper">
                    <img src="{{ ad.image }}" class="ad-image" alt="Image of product" />
                </div>
                <div class="ad-info">
                    <h1 class="ad-title1">{{ ad.title }}</h1>
                    <p class="ad-creation-date">{{ ad.creation_date }}</p>
                    <p class="ad-short-description">{{ ad.short_description }}</p>
                 </div>

                    {{ form }}

                <div class="ad-bid">
                    <p class="ad-highest-bid-label">Hæsta boð: </p>
                    {% if ad.max_bid is not None %}
                        <p class="ad-highest-bid"><b>{{ ad.max_bid }}</b> kr.</p>
                    {% else %}
                        <p class="ad-highest-bid-no-bid">Ekkert boð enn.</p>
                    {% endif %}
                 </form>
                </div>
            </div>
            </a>
            <div class="buttons-container">
            {% if ad.isActive and ad.max_bid%}
                <a href="http://visir.is" class="accept-button">Samþykkja boð</a>
            {% endif %}
            {% if not ad.isPaid %}
                <a href="http://visir.is" class="reject-button">Hætta við sölu</a>
            {% endif %}
            </div>
            </div>

        {% endfor %}

    </div>
{% endblock %}