{% extends "main.html" %}
{% load static %}
{% block content %}
    <div class="ads-container">
        <h1>Mínar vörur</h1>
        {% for ad in user_ads %}
            <div class="ad-button-container">
            <a href="/ads/{{ ad.id }}" class="ad-anchor1">
            <div class="ad">
                <div class="ad-image-wrapper">
                    <img src="{{ ad.image }}" class="ad-image" alt="Image of product" />
                </div>
                <div class="ad-info">
                    <h1 class="ad-title1">{{ ad.title }}</h1>
                    <p class="ad-creation-date">{{ ad.creation_date }}</p>
                    <p class="ad-short-description">{{ ad.short_description }}</p>
                 </div>

                    {{ form }}

                <div class="ad-bid">
                    <p class="ad-highest-bid-label">Hæsta boð: </p>
                    {% if ad.max_bid is not None %}
                        <input type="submit" class="accept-button" value="Samþykkja boð">
                        <input type="submit" class="reject-button" value="Hætta við sölu">
                        <p class="ad-highest-bid"><b>{{ ad.max_bid }}</b> kr.</p>
                    {% else %}
                        <input type="submit" class="reject-button" value="Hætta við sölu">
                        <p class="ad-highest-bid-no-bid">Ekkert boð enn.</p>
                    {% endif %}
                 </form>
                </div>
            </div>
            </a>
            {% if ad.isActive %}
                <button class="deactivate-btn" name="ad_id" value="{{ ad.id }}">Óvirkja auglýsingu</button>
            {% endif %}
            </div>

        {% endfor %}

    </div>
    <script src="{% static 'js/myproducts.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}