{% extends "main.html" %}
{% block content %}
    <div class="purchasesContainer">
        <h1>Kaupsaga</h1>
        {% if purchased_ads %}
        {% for ad in purchased_ads %}
            <div class="ad-button-container">
                {% include 'ads/ad_product_card.html' %}

                <div class="buttons-container">
                    <p>Gefðu vörunni einkunn.</p>
{#                    <fieldset class="rating">#}
{#                        <input type="radio" id="star5" name="rating" value="5"><star-rating class="fa fa-star"></star-rating>#}
{#                        <input type="radio" id="star4" name="rating" value="4"><star-rating class="fa fa-star"></star-rating>#}
{#                        <input type="radio" id="star3" name="rating" value="3"><star-rating class="fa fa-star"></star-rating>#}
{#                        <input type="radio" id="star2" name="rating" value="2"><star-rating class="fa fa-star"></star-rating>#}
{#                        <input type="radio" id="star1" name="rating" value="1"><star-rating class="fa fa-star"></star-rating>#}
{#                    </fieldset>#}
                    <div class="star-container" data-adid="{{ ad.id }}">
                        <span class="fa fa-star" data-rating="1"></span>
                        <span class="fa fa-star" data-rating="2"></span>
                        <span class="fa fa-star" data-rating="3"></span>
                        <span class="fa fa-star" data-rating="4"></span>
                        <span class="fa fa-star" data-rating="5"></span>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <p>Þú hefur ekki keypt neina vöru.</p>
        {% endif %}
    </div>

{% endblock %}