{% extends "main.html" %}
{% block content %}
    <div class="purchasesContainer">
        <h1>Kaupsaga</h1>
        {% if purchased_ads %}
        {% for ad in purchased_ads %}
            {% include 'ads/ad_product_card.html' %}

            <fieldset class="rating">
                <input type="radio" id="star1" name="rating" value="1"><star-rating class="fa fa-star"></star-rating>
                <input type="radio" id="star2" name="rating" value="2"><star-rating class="fa fa-star"></star-rating>
                <input type="radio" id="star3" name="rating" value="3"><star-rating class="fa fa-star"></star-rating>
                <input type="radio" id="star4" name="rating" value="4"><star-rating class="fa fa-star"></star-rating>
                <input type="radio" id="star5" name="rating" value="5"><star-rating class="fa fa-star"></star-rating>
            </fieldset>
        {% endfor %}
        {% else %}
            <p>Þú hefur ekki keypt neina vöru.</p>
        {% endif %}
    </div>
{% endblock %}